body{
    margin-top: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.roundResult{
    font-size: 20px;
    font-weight: bold;
}

.scoreDisplay{
    margin: 30px;
}

.roundResult{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.roundResult p, .roundResult h2{
    margin: 0;
}

.title{
    margin-bottom: 40px;
}

.buttons h3{
    margin: 0;
}